:root {
    --cl-iris: #4D5AE5;
    --cl-osean: #404BBF;
    --cl-slate:#434455;
    --bg-cl-white:#ffffff;
    --bg-cl-navyblue:#2e2f42;
    --bg-cl-cloud:#f4f4fd;
}

/* Common styles */

body {
    font-family: "Roboto", sans-serif;
    color:#434455;
    background-color: #FFFFFF;
}

/* Reset */

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

button{
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

img{
    display: block;
}

.link {
    text-decoration: none;
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* Base styles */

.container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 3px solid tomato ;
    outline-offset: -2px;
}

/* Main */

.page {}

/* Header */

.haeder {
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-container{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.header-nav {
    margin-right: 332px;
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cl-iris);
}

.header-logo-color {
    color:var(--bg-cl-navyblue);
}

.header-list {
    gap: 40px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--bg-cl-navyblue);
}

.header-list .header-link:hover,
.header-list .header-link:focus {
    color: #404BBF;
}

.haeder-item {
    color: var(--bg-cl-navyblue);
}

.header-link {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-address {
    align-items: center;
    display: flex;
    font-style: normal;
}

.header-networks {
    gap: 40px;
    display: flex;
    align-items: center;
}

.header-networks-item {}

.header-networks-link {
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-networks .header-networks-link:hover,
.header-networks .header-networks-link:focus {
    color:#404BBF;
}

/* Hero section */

.hero-section {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 292px;
}

.hero-title {
    width: 496px;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin: 0 auto;
}

.hero-button {
    display: flex;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor:pointer;
    margin: 0 auto;
    padding: 16px 32px;
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404BBF;
}

/* Benefits section */

.benefits-section{
    padding-top: 120px;
    padding-bottom: 60px;
}

.benefits-title {
    color: var(--bg-cl-navyblue);
}

.benfits-list {
    display: flex;
    justify-content: space-between;
}

.benefits-item {
    width: 264px;
}

.benefits-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--bg-cl-navyblue);
    margin-bottom: 8px;
}

.benefits-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* Work section */

.work-section {
    padding-top: 60px;
    padding-bottom: 120px;
}

.work-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color:var(--bg-cl-navyblue);
    margin: 72px;
}

.work-list {
    display: flex;
    justify-content: space-between;
}

.work-item {
    width: 360;
}

.work-img {}

/* Team section */

.team-section {
    background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--bg-cl-navyblue);
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    justify-content: space-between;
}

.team-item {
    background-color: #FFFFFF;
}

.team-item-img {
    width: 264px;
}

.team-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--bg-cl-navyblue);
}

.team-profession {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    padding-bottom: 32;
}

.tema-name-profession {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding-bottom: 32px;
    padding-top: 32px;
}

/* Footer section */

.footer-section {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-logo {
    display: flex;
    padding-bottom: 16px;
    font-family: "Raleway",sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--cl-iris);
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    display: flex;
    width: 264px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
}

/* Portfolio styles */

.button-list-conteiner{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
    padding-top: 96px;
    padding-bottom: 72px;
}

.hero-item{}

.hero-button-portfol {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;
    background-color: var(--bg-cl-cloud);
    padding: 12px 24px 12px 24px;
}

.list .hero-button-portfol:hover,
.list .hero-button-portfol:focus {
    color: #FFFFFF;
    background-color: #404BBF;
}

.fotos-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.fotos-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}